{% extends 'main.html.twig' %}

{% block content %}
    <div class="mb-5">
        <button class="btn btn-danger" onclick='location.href="{{ path("myActionHomePage") }}"'>Anuluj</button>
    </div>
    {{ form(data) }}
{% endblock %}