<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body class="container mt-3">
        {% for type, message in app.flashes() %}
            {% for msg in message %}
                <div class="alert alert-{{ type }}" name="flashMessage">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            removeFlashes();
        });

        function removeFlashes(interval = 5000) {
            window.setTimeout(() => {
                let flashes = document.getElementsByName("flashMessage");
                while(flashes.length > 0) {
                   flashes[0].remove();
                }
            }, interval);
        }

        function addFlash(type, msg) {
            let text = document.createTextNode(msg);

            let alert = document.createElement("div");
            alert.setAttribute("class", "alert alert-" + type);
            alert.setAttribute("name", "flashMessage");
            alert.appendChild(text);

            let body = document.getElementsByTagName("body")[0];
            body.insertBefore(alert, body.childNodes[0]);
        }
    </script>
    {% block jsScripts %}
    {% endblock %}
</html>